
.header{          
  margin: 200px auto 0 auto; 
  width: 330px;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;  
  text-align: center; 
   
}

input{
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;   
  margin-bottom: 10px;      
}
  button{
  height: 42px;
  margin-left: 15px; 
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  width: 100px;
  cursor: pointer;  
}

.chekDel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
  flex-direction: row; 
  width: 330px; 
  border-bottom: 1px solid black;
}

.chekbox{
  width: 20px;
}

.btnDel{
  font-size: 15px;  
}

span{
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;  
}

.chekbox:checked{
  opacity: 0.5;
}

.completed {
  opacity: 0.5;
}